//colores

$color-principal: #D1F2A5;
$color-secondary: #fd9c66;
$color-terciary: #EFFAB4;
$font-color-principal: blaCK;

// font sizes

$font-small: 1rem;
$font-medium: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;