.titulo-noticias {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: $font-xxl;
    background-color: $color-secondary;
    margin: 0 auto;
    padding: 2rem;
}

.p-agenda {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    background-color: $color-secondary;
    font-size: $font-xl;
    margin: 0 auto;
    padding: 3rem;
    padding-bottom: 6rem;
}