.body-quienes {
    background-color: $color-terciary;
}

.guia-gordx {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $font-color-principal;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}